<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActivation</key>
	<dict>
		<key>AFPBrowse</key>
		<true/>
		<key>AFPMount</key>
		<true/>
		<key>ActivateWindow</key>
		<true/>
		<key>AppActivateAction</key>
		<false/>
		<key>AppHideAction</key>
		<false/>
		<key>AppHideOthersAction</key>
		<false/>
		<key>AppOpenFileAction</key>
		<true/>
		<key>AppQuitAction</key>
		<true/>
		<key>AppQuitOthersAction</key>
		<false/>
		<key>AppRelaunchAction</key>
		<true/>
		<key>AppShowHideAction</key>
		<false/>
		<key>AppleScriptOpenFilesAction</key>
		<true/>
		<key>AppleScriptProcessTextAction</key>
		<true/>
		<key>AppleScriptRunAction</key>
		<true/>
		<key>AppleScriptRunTextAction</key>
		<true/>
		<key>CIFSBrowse</key>
		<true/>
		<key>CIFSMount</key>
		<true/>
		<key>CloseWindow</key>
		<true/>
		<key>ConnectUsingFTP</key>
		<true/>
		<key>ConnectUsingHTTP</key>
		<true/>
		<key>ConnectUsingHTTPS</key>
		<true/>
		<key>ConnectUsingMosh</key>
		<true/>
		<key>ConnectUsingSFTP</key>
		<true/>
		<key>ConnectUsingSFTPpath</key>
		<true/>
		<key>ConnectUsingSSH</key>
		<true/>
		<key>ConnectUsingSSHroot</key>
		<true/>
		<key>ConnectUsingSSHuser</key>
		<true/>
		<key>ConnectUsingTelnet</key>
		<true/>
		<key>ConnectUsingTelnetPort</key>
		<true/>
		<key>ConnectUsingVNC</key>
		<true/>
		<key>ConvertTextToHost</key>
		<true/>
		<key>CurrentDocumentForApp</key>
		<true/>
		<key>DictPluginDefineAction</key>
		<false/>
		<key>DiskEjectAction</key>
		<true/>
		<key>FileAlwaysOpenTypeWithAction</key>
		<true/>
		<key>FileCopyToAction</key>
		<true/>
		<key>FileDeleteAction</key>
		<false/>
		<key>FileGetHFSPathAction</key>
		<true/>
		<key>FileGetInfoAction</key>
		<true/>
		<key>FileGetPathAction</key>
		<false/>
		<key>FileGetPosixPathAction</key>
		<true/>
		<key>FileGetURLAction</key>
		<false/>
		<key>FileMakeAliasInAction</key>
		<true/>
		<key>FileMakeHardLinkInAction</key>
		<false/>
		<key>FileMakeLinkInAction</key>
		<false/>
		<key>FileMoveToAction</key>
		<true/>
		<key>FileOpenAction</key>
		<true/>
		<key>FileOpenWithAction</key>
		<true/>
		<key>FileRenameAction</key>
		<true/>
		<key>FileRevealAction</key>
		<true/>
		<key>FileToTrashAction</key>
		<true/>
		<key>FinderEmptyTrashAction</key>
		<true/>
		<key>FinderOpenTrashAction</key>
		<true/>
		<key>FocusedWindowForApp</key>
		<true/>
		<key>GetFTPURL</key>
		<false/>
		<key>GetHTTPSURL</key>
		<false/>
		<key>GetHTTPURL</key>
		<false/>
		<key>GetHostInfo</key>
		<true/>
		<key>GetWindowsForApp</key>
		<true/>
		<key>ListWindowsForApp</key>
		<true/>
		<key>MSRemoteDesktop</key>
		<true/>
		<key>MinimizeWindow</key>
		<true/>
		<key>PasteboardCopyAction</key>
		<true/>
		<key>PasteboardPasteAction</key>
		<true/>
		<key>PasteboardPasteActionAsPlainText</key>
		<true/>
		<key>QSABContactAddDataAction</key>
		<true/>
		<key>QSABContactEditAction</key>
		<true/>
		<key>QSABContactShowAction</key>
		<true/>
		<key>QSAirPortDisassociate</key>
		<true/>
		<key>QSAirPortNetworkNewConnection</key>
		<true/>
		<key>QSAirPortNetworkSelectAction</key>
		<true/>
		<key>QSAirPortPowerDisable</key>
		<true/>
		<key>QSAirPortPowerEnable</key>
		<true/>
		<key>QSAirPortPowerToggle</key>
		<false/>
		<key>QSAppleMailMailboxOpenAction</key>
		<true/>
		<key>QSAppleMailMessageDeleteAction</key>
		<true/>
		<key>QSAppleMailMessageMoveAction</key>
		<true/>
		<key>QSAppleMailMessageOpenAction</key>
		<true/>
		<key>QSCLExecuteShellCommandAction</key>
		<true/>
		<key>QSCLExecuteTextAction</key>
		<true/>
		<key>QSCLTermExecuteShellCommandAction</key>
		<true/>
		<key>QSCLTermExecuteTextAction</key>
		<true/>
		<key>QSCLTermExecuteWithArgsAction</key>
		<true/>
		<key>QSCLTermExecuteWithRequiredArgsAction</key>
		<false/>
		<key>QSCLTermOpenParentAction</key>
		<true/>
		<key>QSCLTermShowDirectoryAction</key>
		<true/>
		<key>QSCLTermShowManPageAction</key>
		<true/>
		<key>QSCatalogAddEntryAction</key>
		<true/>
		<key>QSCatalogEntryRescanAction</key>
		<true/>
		<key>QSCatalogEntryShowAction</key>
		<true/>
		<key>QSCommandAddTriggerAction</key>
		<true/>
		<key>QSCommandExecuteAction</key>
		<true/>
		<key>QSCommandExecuteAfterDelayAction</key>
		<true/>
		<key>QSCommandExecuteAtTimeAction</key>
		<true/>
		<key>QSCommandSaveAction</key>
		<true/>
		<key>QSComposeEmailItemAction</key>
		<true/>
		<key>QSComposeEmailItemReverseAction</key>
		<false/>
		<key>QSCreateFileAction</key>
		<true/>
		<key>QSCreateFileTemplate</key>
		<true/>
		<key>QSDictionaryLookupAction</key>
		<true/>
		<key>QSDirectEmailItemAction</key>
		<false/>
		<key>QSDirectEmailItemReverseAction</key>
		<false/>
		<key>QSEmailAction</key>
		<true/>
		<key>QSEmailItemAction</key>
		<false/>
		<key>QSEmailItemReverseAction</key>
		<true/>
		<key>QSEvernoteOpenNote</key>
		<true/>
		<key>QSEvernoteOpenNotebook</key>
		<true/>
		<key>QSEvernoteOpenTag</key>
		<true/>
		<key>QSEvernoteRevealNote</key>
		<true/>
		<key>QSEvernoteRevealNotebook</key>
		<true/>
		<key>QSEvernoteRevealTag</key>
		<true/>
		<key>QSEvernoteSearchNotebook</key>
		<true/>
		<key>QSFacetimeAction</key>
		<true/>
		<key>QSFacetimeAudioAction</key>
		<true/>
		<key>QSGoogleChromeOpenURLInSourceBrowser</key>
		<true/>
		<key>QSGoogleChromeReloadTab</key>
		<true/>
		<key>QSGoogleChromeRevealTab</key>
		<true/>
		<key>QSKeychainItemCopyAccountAction</key>
		<true/>
		<key>QSKeychainItemCopyPasswordAction</key>
		<true/>
		<key>QSKeychainItemGetAccountAction</key>
		<true/>
		<key>QSKeychainItemGetPasswordAction</key>
		<true/>
		<key>QSKeychainItemPasteAccountAction</key>
		<true/>
		<key>QSKeychainItemPastePasswordAction</key>
		<true/>
		<key>QSKeychainLockAction</key>
		<true/>
		<key>QSKeychainShowAction</key>
		<true/>
		<key>QSKeychainUnlockAction</key>
		<true/>
		<key>QSLargeTypeAction</key>
		<true/>
		<key>QSLineRefDeleteAction</key>
		<false/>
		<key>QSLineRefEditAction</key>
		<false/>
		<key>QSLoginItemAddAction</key>
		<false/>
		<key>QSLoginItemRemoveAction</key>
		<false/>
		<key>QSNetworkLocationSelectAction</key>
		<true/>
		<key>QSNewFolderAction</key>
		<true/>
		<key>QSObjCSendMessageAction</key>
		<true/>
		<key>QSObjectAssignMnemonic</key>
		<true/>
		<key>QSObjectExplodeCombinedAction</key>
		<true/>
		<key>QSObjectLogConsoleAction</key>
		<false/>
		<key>QSObjectSearchChildrenAction</key>
		<true/>
		<key>QSObjectSelectAction</key>
		<false/>
		<key>QSObjectShowActionMenu</key>
		<true/>
		<key>QSObjectShowChildMenu</key>
		<true/>
		<key>QSObjectShowChildrenAction</key>
		<true/>
		<key>QSObjectShowMenu</key>
		<true/>
		<key>QSObjectShowSourceAction</key>
		<true/>
		<key>QSPickMenuItemsAction</key>
		<true/>
		<key>QSPickMenusAction</key>
		<true/>
		<key>QSRemoteDesktopControlAction</key>
		<true/>
		<key>QSRemoteDesktopCopyFilesAction</key>
		<true/>
		<key>QSRemoteDesktopObserveAction</key>
		<true/>
		<key>QSSearchMenuItemsAction</key>
		<true/>
		<key>QSShellScriptRunAction</key>
		<true/>
		<key>QSShellScriptRunWithArgsAction</key>
		<true/>
		<key>QSSoundPlayAction</key>
		<true/>
		<key>QSTextAppendAction</key>
		<true/>
		<key>QSTextAppendReverseAction</key>
		<true/>
		<key>QSTextAppendTimedAction</key>
		<true/>
		<key>QSTextAppendTimedReverseAction</key>
		<true/>
		<key>QSTextPrependAction</key>
		<true/>
		<key>QSTextPrependReverseAction</key>
		<true/>
		<key>QSTextPrependTimedAction</key>
		<false/>
		<key>QSTextPrependTimedReverseAction</key>
		<false/>
		<key>QSTextShowDialogAction</key>
		<false/>
		<key>QSTextSpeakAction</key>
		<false/>
		<key>QSTextTypeAction</key>
		<true/>
		<key>QSThesaurusLookupAction</key>
		<true/>
		<key>QSUIElementDoActionAction</key>
		<true/>
		<key>QSUIElementPickAction</key>
		<true/>
		<key>QSUIElementPressAction</key>
		<true/>
		<key>QSURLFindWithAction</key>
		<true/>
		<key>QSURLSearchForAction</key>
		<true/>
		<key>QSURLSearchForAndReturnAction</key>
		<false/>
		<key>QSiTerm2ExecuteScriptInCurrent</key>
		<false/>
		<key>QSiTerm2ExecuteScriptInTab</key>
		<false/>
		<key>QSiTerm2ExecuteScriptInWindow</key>
		<true/>
		<key>QSiTerm2ExecuteTextInCurrent</key>
		<false/>
		<key>QSiTerm2ExecuteTextInTab</key>
		<false/>
		<key>QSiTerm2ExecuteTextInWindow</key>
		<true/>
		<key>QSiTerm2OpenDirInCurrent</key>
		<false/>
		<key>QSiTerm2OpenDirInTab</key>
		<false/>
		<key>QSiTerm2OpenDirInWindow</key>
		<true/>
		<key>QSiTerm2OpenParentInCurrent</key>
		<false/>
		<key>QSiTerm2OpenParentInTab</key>
		<false/>
		<key>QSiTerm2OpenParentInWindow</key>
		<true/>
		<key>QSiTerm2OpenSessionTab</key>
		<true/>
		<key>QSiTerm2OpenSessionWindow</key>
		<true/>
		<key>QSiTunesAddToPlaylistAction</key>
		<true/>
		<key>QSiTunesDislikeAction</key>
		<true/>
		<key>QSiTunesDownloadAction</key>
		<true/>
		<key>QSiTunesGetLyrics</key>
		<true/>
		<key>QSiTunesLoveAction</key>
		<true/>
		<key>QSiTunesOpenBookletAction</key>
		<true/>
		<key>QSiTunesPSAddAction</key>
		<true/>
		<key>QSiTunesPSPlayAction</key>
		<true/>
		<key>QSiTunesPSPlayNextAction</key>
		<true/>
		<key>QSiTunesPlayItemAction</key>
		<true/>
		<key>QSiTunesRevealItem</key>
		<true/>
		<key>QSiTunesSelectAirPlayDevices</key>
		<true/>
		<key>QSiTunesSelectEQPreset</key>
		<true/>
		<key>QSiTunesToggleEnabled</key>
		<true/>
		<key>QSiTunesToggleShuffle</key>
		<true/>
		<key>RTMAddTaskAction</key>
		<true/>
		<key>RTMReverseAddTaskAction</key>
		<true/>
		<key>RaiseWindow</key>
		<false/>
		<key>UISelectApplication</key>
		<true/>
		<key>URLEmailAction</key>
		<true/>
		<key>URLJSAction</key>
		<true/>
		<key>URLOpenAction</key>
		<true/>
		<key>URLOpenActionInBackground</key>
		<true/>
		<key>URLOpenWithAction</key>
		<false/>
		<key>ZoomWindow</key>
		<true/>
	</dict>
	<key>actionIndirects</key>
	<dict>
		<key>FileCopyToAction</key>
		<array>
			<string>/Users/john/Documents/My Documents/Business/resumes</string>
			<string>/Users/john/Library</string>
		</array>
		<key>FileMoveToAction</key>
		<array>
			<string>/Applications</string>
			<string>/Users/john/Documents/My Documents</string>
			<string>/Users/john/Documents/My Documents/Work</string>
			<string>/Users/john/Documents/My Documents/Work/ShiloRune/Nama</string>
			<string>/Users/john/Documents/My Documents/Records/voting</string>
			<string>/Users/john/Applications</string>
			<string>/Users/john/Documents/My Documents/Records/hunting</string>
			<string>/Volumes/Secrets</string>
			<string>/Users/john/Desktop/torrents</string>
			<string>/Users/john/Documents/My Documents/Work/Planet Nine</string>
			<string>/Users/john/Desktop</string>
			<string>/Volumes/NAS/[Video/[TV/New Girl/Season 6</string>
			<string>/Users/john/AndroidStudioProjects</string>
			<string>/Users/john/Documents/My Documents/Business/hunting/Zumwalt Maps</string>
			<string>/Applications/Utilities</string>
		</array>
		<key>FileOpenWithAction</key>
		<array>
			<string>/Applications/Visual Studio Code.app</string>
			<string>/Applications/Utilities/iTerm.app</string>
			<string>/System/Applications/TextEdit.app</string>
			<string>/Applications/AppCleaner.app</string>
			<string>/Applications/Photos.app</string>
			<string>/Applications/TextEdit.app</string>
			<string>/Applications/App Store.app</string>
			<string>/Applications/Gimp.app</string>
			<string>/Applications/Atom.app</string>
			<string>/Applications/Utilities/Terminal.app</string>
			<string>/Applications/TotalTerminal.app</string>
			<string>/Applications/Microsoft Office 2011/Microsoft Word.app</string>
			<string>/Applications/TeX/TeXworks.app</string>
			<string>/Applications/SimplyRAR.app</string>
		</array>
		<key>QSComposeEmailItemAction</key>
		<array>
			<string>http://en.wikipedia.org/wiki/Special:Search?search=***</string>
		</array>
		<key>QSComposeEmailItemReverseAction</key>
		<array>
			<string>ED23A055-4748-4AD7-A0AD-3FF48BB31F05:ABPerson</string>
		</array>
		<key>QSDirectEmailItemReverseAction</key>
		<array>
			<string>7887FA7E-67C7-455A-9CD5-483D237CFD04:ABPerson</string>
			<string>5C855894-B739-4400-B7A5-6F2273D91464:ABPerson</string>
			<string>D428F3DE-64D7-43A6-82F9-60DF1ACD65A6:ABPerson</string>
		</array>
		<key>QSEmailItemAction</key>
		<array>
			<string>http://en.wikipedia.org/wiki/Special:Search?search=***</string>
		</array>
		<key>QSEmailItemReverseAction</key>
		<array>
			<string>27901441-DB65-417F-BE29-724AEE9A7D28:ABPerson</string>
			<string>494E93A6-F489-45A9-B0F0-A10B655AA692:ABPerson</string>
			<string>5C855894-B739-4400-B7A5-6F2273D91464:ABPerson</string>
		</array>
		<key>QSTextPrependAction</key>
		<array>
			<string>/Applications/Slack.app</string>
		</array>
		<key>QSURLSearchForAction</key>
		<array>
			<string>http://luckypeach.com/ha-vl/</string>
			<string>http://privacy.com</string>
			<string>http://startpage.com</string>
			<string>http://owasp.org</string>
			<string>http://ourrevolution.com</string>
			<string>http://.su</string>
			<string>http://amazon.com</string>
			<string>http://.org</string>
		</array>
		<key>RTMAddTaskAction</key>
		<array>
			<string>[RememberTheMilkList]:ID=3098154</string>
		</array>
	</dict>
	<key>actionMenuActivation</key>
	<dict>
		<key>AFPBrowse</key>
		<true/>
		<key>AFPMount</key>
		<true/>
		<key>ActivateWindow</key>
		<true/>
		<key>AppActivateAction</key>
		<false/>
		<key>AppHideAction</key>
		<false/>
		<key>AppHideOthersAction</key>
		<false/>
		<key>AppOpenFileAction</key>
		<true/>
		<key>AppQuitAction</key>
		<true/>
		<key>AppQuitOthersAction</key>
		<false/>
		<key>AppRelaunchAction</key>
		<true/>
		<key>AppShowHideAction</key>
		<false/>
		<key>AppleScriptOpenFilesAction</key>
		<true/>
		<key>AppleScriptProcessTextAction</key>
		<true/>
		<key>AppleScriptRunAction</key>
		<true/>
		<key>AppleScriptRunTextAction</key>
		<true/>
		<key>CIFSBrowse</key>
		<true/>
		<key>CIFSMount</key>
		<true/>
		<key>CloseWindow</key>
		<true/>
		<key>ConnectUsingFTP</key>
		<true/>
		<key>ConnectUsingHTTP</key>
		<true/>
		<key>ConnectUsingHTTPS</key>
		<true/>
		<key>ConnectUsingMosh</key>
		<true/>
		<key>ConnectUsingSFTP</key>
		<true/>
		<key>ConnectUsingSFTPpath</key>
		<true/>
		<key>ConnectUsingSSH</key>
		<true/>
		<key>ConnectUsingSSHroot</key>
		<true/>
		<key>ConnectUsingSSHuser</key>
		<true/>
		<key>ConnectUsingTelnet</key>
		<true/>
		<key>ConnectUsingTelnetPort</key>
		<true/>
		<key>ConnectUsingVNC</key>
		<true/>
		<key>ConvertTextToHost</key>
		<true/>
		<key>CurrentDocumentForApp</key>
		<true/>
		<key>DictPluginDefineAction</key>
		<true/>
		<key>DiskEjectAction</key>
		<true/>
		<key>FileAlwaysOpenTypeWithAction</key>
		<true/>
		<key>FileCopyToAction</key>
		<true/>
		<key>FileDeleteAction</key>
		<false/>
		<key>FileGetHFSPathAction</key>
		<true/>
		<key>FileGetInfoAction</key>
		<true/>
		<key>FileGetPathAction</key>
		<false/>
		<key>FileGetPosixPathAction</key>
		<false/>
		<key>FileGetURLAction</key>
		<false/>
		<key>FileMakeAliasInAction</key>
		<true/>
		<key>FileMakeHardLinkInAction</key>
		<false/>
		<key>FileMakeLinkInAction</key>
		<false/>
		<key>FileMoveToAction</key>
		<true/>
		<key>FileOpenAction</key>
		<true/>
		<key>FileOpenWithAction</key>
		<true/>
		<key>FileRenameAction</key>
		<true/>
		<key>FileRevealAction</key>
		<true/>
		<key>FileToTrashAction</key>
		<true/>
		<key>FinderEmptyTrashAction</key>
		<true/>
		<key>FinderOpenTrashAction</key>
		<true/>
		<key>FocusedWindowForApp</key>
		<true/>
		<key>GetFTPURL</key>
		<false/>
		<key>GetHTTPSURL</key>
		<false/>
		<key>GetHTTPURL</key>
		<false/>
		<key>GetHostInfo</key>
		<true/>
		<key>GetWindowsForApp</key>
		<true/>
		<key>ListWindowsForApp</key>
		<true/>
		<key>MSRemoteDesktop</key>
		<true/>
		<key>MinimizeWindow</key>
		<true/>
		<key>PasteboardCopyAction</key>
		<true/>
		<key>PasteboardPasteAction</key>
		<true/>
		<key>PasteboardPasteActionAsPlainText</key>
		<true/>
		<key>QSABContactAddDataAction</key>
		<true/>
		<key>QSABContactEditAction</key>
		<true/>
		<key>QSABContactShowAction</key>
		<true/>
		<key>QSAirPortDisassociate</key>
		<true/>
		<key>QSAirPortNetworkNewConnection</key>
		<true/>
		<key>QSAirPortNetworkSelectAction</key>
		<true/>
		<key>QSAirPortPowerDisable</key>
		<true/>
		<key>QSAirPortPowerEnable</key>
		<true/>
		<key>QSAirPortPowerToggle</key>
		<false/>
		<key>QSAppleMailMailboxOpenAction</key>
		<true/>
		<key>QSAppleMailMessageDeleteAction</key>
		<true/>
		<key>QSAppleMailMessageMoveAction</key>
		<true/>
		<key>QSAppleMailMessageOpenAction</key>
		<true/>
		<key>QSCLExecuteShellCommandAction</key>
		<true/>
		<key>QSCLExecuteTextAction</key>
		<true/>
		<key>QSCLTermExecuteShellCommandAction</key>
		<true/>
		<key>QSCLTermExecuteTextAction</key>
		<true/>
		<key>QSCLTermExecuteWithArgsAction</key>
		<true/>
		<key>QSCLTermExecuteWithRequiredArgsAction</key>
		<false/>
		<key>QSCLTermOpenParentAction</key>
		<true/>
		<key>QSCLTermShowDirectoryAction</key>
		<true/>
		<key>QSCLTermShowManPageAction</key>
		<true/>
		<key>QSCatalogAddEntryAction</key>
		<false/>
		<key>QSCatalogEntryRescanAction</key>
		<true/>
		<key>QSCatalogEntryShowAction</key>
		<true/>
		<key>QSCommandAddTriggerAction</key>
		<true/>
		<key>QSCommandExecuteAction</key>
		<true/>
		<key>QSCommandExecuteAfterDelayAction</key>
		<true/>
		<key>QSCommandExecuteAtTimeAction</key>
		<true/>
		<key>QSCommandSaveAction</key>
		<true/>
		<key>QSComposeEmailItemAction</key>
		<true/>
		<key>QSComposeEmailItemReverseAction</key>
		<true/>
		<key>QSCreateFileAction</key>
		<true/>
		<key>QSCreateFileTemplate</key>
		<true/>
		<key>QSDictionaryLookupAction</key>
		<true/>
		<key>QSDirectEmailItemAction</key>
		<false/>
		<key>QSDirectEmailItemReverseAction</key>
		<false/>
		<key>QSEmailAction</key>
		<true/>
		<key>QSEmailItemAction</key>
		<false/>
		<key>QSEmailItemReverseAction</key>
		<false/>
		<key>QSEvernoteOpenNote</key>
		<true/>
		<key>QSEvernoteOpenNotebook</key>
		<true/>
		<key>QSEvernoteOpenTag</key>
		<true/>
		<key>QSEvernoteRevealNote</key>
		<true/>
		<key>QSEvernoteRevealNotebook</key>
		<true/>
		<key>QSEvernoteRevealTag</key>
		<true/>
		<key>QSEvernoteSearchNotebook</key>
		<true/>
		<key>QSFacetimeAction</key>
		<true/>
		<key>QSFacetimeAudioAction</key>
		<true/>
		<key>QSGoogleChromeOpenURLInSourceBrowser</key>
		<true/>
		<key>QSGoogleChromeReloadTab</key>
		<true/>
		<key>QSGoogleChromeRevealTab</key>
		<true/>
		<key>QSKeychainItemCopyAccountAction</key>
		<true/>
		<key>QSKeychainItemCopyPasswordAction</key>
		<true/>
		<key>QSKeychainItemGetAccountAction</key>
		<true/>
		<key>QSKeychainItemGetPasswordAction</key>
		<true/>
		<key>QSKeychainItemPasteAccountAction</key>
		<true/>
		<key>QSKeychainItemPastePasswordAction</key>
		<true/>
		<key>QSKeychainLockAction</key>
		<true/>
		<key>QSKeychainShowAction</key>
		<true/>
		<key>QSKeychainUnlockAction</key>
		<true/>
		<key>QSLargeTypeAction</key>
		<true/>
		<key>QSLineRefDeleteAction</key>
		<false/>
		<key>QSLineRefEditAction</key>
		<false/>
		<key>QSLoginItemAddAction</key>
		<false/>
		<key>QSLoginItemRemoveAction</key>
		<false/>
		<key>QSNetworkLocationSelectAction</key>
		<true/>
		<key>QSNewFolderAction</key>
		<true/>
		<key>QSObjCSendMessageAction</key>
		<true/>
		<key>QSObjectAssignMnemonic</key>
		<true/>
		<key>QSObjectExplodeCombinedAction</key>
		<true/>
		<key>QSObjectLogConsoleAction</key>
		<false/>
		<key>QSObjectSearchChildrenAction</key>
		<true/>
		<key>QSObjectSelectAction</key>
		<false/>
		<key>QSObjectShowActionMenu</key>
		<true/>
		<key>QSObjectShowChildMenu</key>
		<true/>
		<key>QSObjectShowChildrenAction</key>
		<true/>
		<key>QSObjectShowMenu</key>
		<true/>
		<key>QSObjectShowSourceAction</key>
		<true/>
		<key>QSPickMenuItemsAction</key>
		<true/>
		<key>QSPickMenusAction</key>
		<true/>
		<key>QSRemoteDesktopControlAction</key>
		<true/>
		<key>QSRemoteDesktopCopyFilesAction</key>
		<true/>
		<key>QSRemoteDesktopObserveAction</key>
		<true/>
		<key>QSSearchMenuItemsAction</key>
		<true/>
		<key>QSShellScriptRunAction</key>
		<true/>
		<key>QSShellScriptRunWithArgsAction</key>
		<true/>
		<key>QSSoundPlayAction</key>
		<true/>
		<key>QSTextAppendAction</key>
		<true/>
		<key>QSTextAppendReverseAction</key>
		<true/>
		<key>QSTextAppendTimedAction</key>
		<true/>
		<key>QSTextAppendTimedReverseAction</key>
		<true/>
		<key>QSTextPrependAction</key>
		<false/>
		<key>QSTextPrependReverseAction</key>
		<false/>
		<key>QSTextPrependTimedAction</key>
		<false/>
		<key>QSTextPrependTimedReverseAction</key>
		<false/>
		<key>QSTextShowDialogAction</key>
		<false/>
		<key>QSTextSpeakAction</key>
		<false/>
		<key>QSTextTypeAction</key>
		<true/>
		<key>QSThesaurusLookupAction</key>
		<true/>
		<key>QSUIElementDoActionAction</key>
		<true/>
		<key>QSUIElementPickAction</key>
		<true/>
		<key>QSUIElementPressAction</key>
		<true/>
		<key>QSURLFindWithAction</key>
		<true/>
		<key>QSURLSearchForAction</key>
		<true/>
		<key>QSURLSearchForAndReturnAction</key>
		<false/>
		<key>QSiTerm2ExecuteScriptInCurrent</key>
		<false/>
		<key>QSiTerm2ExecuteScriptInTab</key>
		<false/>
		<key>QSiTerm2ExecuteScriptInWindow</key>
		<true/>
		<key>QSiTerm2ExecuteTextInCurrent</key>
		<false/>
		<key>QSiTerm2ExecuteTextInTab</key>
		<false/>
		<key>QSiTerm2ExecuteTextInWindow</key>
		<true/>
		<key>QSiTerm2OpenDirInCurrent</key>
		<false/>
		<key>QSiTerm2OpenDirInTab</key>
		<false/>
		<key>QSiTerm2OpenDirInWindow</key>
		<true/>
		<key>QSiTerm2OpenParentInCurrent</key>
		<false/>
		<key>QSiTerm2OpenParentInTab</key>
		<false/>
		<key>QSiTerm2OpenParentInWindow</key>
		<true/>
		<key>QSiTerm2OpenSessionTab</key>
		<true/>
		<key>QSiTerm2OpenSessionWindow</key>
		<true/>
		<key>QSiTunesAddToPlaylistAction</key>
		<true/>
		<key>QSiTunesDislikeAction</key>
		<true/>
		<key>QSiTunesDownloadAction</key>
		<true/>
		<key>QSiTunesGetLyrics</key>
		<true/>
		<key>QSiTunesLoveAction</key>
		<true/>
		<key>QSiTunesOpenBookletAction</key>
		<true/>
		<key>QSiTunesPSAddAction</key>
		<true/>
		<key>QSiTunesPSPlayAction</key>
		<true/>
		<key>QSiTunesPSPlayNextAction</key>
		<true/>
		<key>QSiTunesPlayItemAction</key>
		<true/>
		<key>QSiTunesRevealItem</key>
		<true/>
		<key>QSiTunesSelectAirPlayDevices</key>
		<true/>
		<key>QSiTunesSelectEQPreset</key>
		<true/>
		<key>QSiTunesToggleEnabled</key>
		<true/>
		<key>QSiTunesToggleShuffle</key>
		<true/>
		<key>RTMAddTaskAction</key>
		<true/>
		<key>RTMReverseAddTaskAction</key>
		<true/>
		<key>RaiseWindow</key>
		<false/>
		<key>UISelectApplication</key>
		<true/>
		<key>URLEmailAction</key>
		<true/>
		<key>URLJSAction</key>
		<true/>
		<key>URLOpenAction</key>
		<true/>
		<key>URLOpenActionInBackground</key>
		<true/>
		<key>URLOpenWithAction</key>
		<false/>
		<key>ZoomWindow</key>
		<true/>
	</dict>
	<key>actionNames</key>
	<dict/>
	<key>actionPrecedence</key>
	<dict>
		<key>AFPBrowse</key>
		<real>0.0</real>
		<key>AFPMount</key>
		<real>0.0</real>
		<key>ActivateWindow</key>
		<real>3</real>
		<key>AppActivateAction</key>
		<real>0.0</real>
		<key>AppHideAction</key>
		<real>0.0</real>
		<key>AppHideOthersAction</key>
		<real>0.0</real>
		<key>AppOpenFileAction</key>
		<real>0.0</real>
		<key>AppQuitAction</key>
		<real>0.0</real>
		<key>AppQuitOthersAction</key>
		<real>0.0</real>
		<key>AppRelaunchAction</key>
		<real>0.0</real>
		<key>AppShowHideAction</key>
		<real>0.0</real>
		<key>AppleScriptOpenFilesAction</key>
		<real>4</real>
		<key>AppleScriptProcessTextAction</key>
		<real>4</real>
		<key>AppleScriptRunAction</key>
		<real>4</real>
		<key>AppleScriptRunTextAction</key>
		<real>0.0</real>
		<key>CIFSBrowse</key>
		<real>0.5</real>
		<key>CIFSMount</key>
		<real>0.5</real>
		<key>CloseWindow</key>
		<real>0.0</real>
		<key>ConnectUsingFTP</key>
		<real>0.0</real>
		<key>ConnectUsingHTTP</key>
		<real>0.0</real>
		<key>ConnectUsingHTTPS</key>
		<real>0.0</real>
		<key>ConnectUsingMosh</key>
		<real>0.0</real>
		<key>ConnectUsingSFTP</key>
		<real>0.0</real>
		<key>ConnectUsingSFTPpath</key>
		<real>0.0</real>
		<key>ConnectUsingSSH</key>
		<real>2</real>
		<key>ConnectUsingSSHroot</key>
		<real>1</real>
		<key>ConnectUsingSSHuser</key>
		<real>1</real>
		<key>ConnectUsingTelnet</key>
		<real>0.0</real>
		<key>ConnectUsingTelnetPort</key>
		<real>0.0</real>
		<key>ConnectUsingVNC</key>
		<real>0.0</real>
		<key>ConvertTextToHost</key>
		<real>0.0</real>
		<key>CurrentDocumentForApp</key>
		<real>0.0</real>
		<key>DictPluginDefineAction</key>
		<real>0.0</real>
		<key>DiskEjectAction</key>
		<real>0.0</real>
		<key>FileAlwaysOpenTypeWithAction</key>
		<real>0.10000000149011612</real>
		<key>FileCopyToAction</key>
		<real>0.0</real>
		<key>FileDeleteAction</key>
		<real>0.0</real>
		<key>FileGetHFSPathAction</key>
		<real>-0.5</real>
		<key>FileGetInfoAction</key>
		<real>0.0</real>
		<key>FileGetPathAction</key>
		<real>-0.5</real>
		<key>FileGetPosixPathAction</key>
		<real>-0.5</real>
		<key>FileGetURLAction</key>
		<real>-0.5</real>
		<key>FileMakeAliasInAction</key>
		<real>-0.5</real>
		<key>FileMakeHardLinkInAction</key>
		<real>-0.5</real>
		<key>FileMakeLinkInAction</key>
		<real>-0.5</real>
		<key>FileMoveToAction</key>
		<real>0.0</real>
		<key>FileOpenAction</key>
		<real>1</real>
		<key>FileOpenWithAction</key>
		<real>0.10000000149011612</real>
		<key>FileRenameAction</key>
		<real>0.0</real>
		<key>FileRevealAction</key>
		<real>0.10000000149011612</real>
		<key>FileToTrashAction</key>
		<real>0.0</real>
		<key>FinderEmptyTrashAction</key>
		<real>0.0</real>
		<key>FinderOpenTrashAction</key>
		<real>0.0</real>
		<key>FocusedWindowForApp</key>
		<real>0.0</real>
		<key>GetFTPURL</key>
		<real>0.0</real>
		<key>GetHTTPSURL</key>
		<real>0.0</real>
		<key>GetHTTPURL</key>
		<real>0.0</real>
		<key>GetHostInfo</key>
		<real>0.0</real>
		<key>GetWindowsForApp</key>
		<real>0.0</real>
		<key>ListWindowsForApp</key>
		<real>0.0</real>
		<key>MSRemoteDesktop</key>
		<real>0.0</real>
		<key>MinimizeWindow</key>
		<real>0.0</real>
		<key>PasteboardCopyAction</key>
		<real>-0.5</real>
		<key>PasteboardPasteAction</key>
		<real>-0.5</real>
		<key>PasteboardPasteActionAsPlainText</key>
		<real>-0.5</real>
		<key>QSABContactAddDataAction</key>
		<real>0.0</real>
		<key>QSABContactEditAction</key>
		<real>0.0</real>
		<key>QSABContactShowAction</key>
		<real>3</real>
		<key>QSAirPortDisassociate</key>
		<real>1</real>
		<key>QSAirPortNetworkNewConnection</key>
		<real>3</real>
		<key>QSAirPortNetworkSelectAction</key>
		<real>3</real>
		<key>QSAirPortPowerDisable</key>
		<real>3</real>
		<key>QSAirPortPowerEnable</key>
		<real>3</real>
		<key>QSAirPortPowerToggle</key>
		<real>2</real>
		<key>QSAppleMailMailboxOpenAction</key>
		<real>0.0</real>
		<key>QSAppleMailMessageDeleteAction</key>
		<real>0.0</real>
		<key>QSAppleMailMessageMoveAction</key>
		<real>0.0</real>
		<key>QSAppleMailMessageOpenAction</key>
		<real>0.0</real>
		<key>QSCLExecuteShellCommandAction</key>
		<real>3</real>
		<key>QSCLExecuteTextAction</key>
		<real>0.0</real>
		<key>QSCLTermExecuteShellCommandAction</key>
		<real>4</real>
		<key>QSCLTermExecuteTextAction</key>
		<real>0.0</real>
		<key>QSCLTermExecuteWithArgsAction</key>
		<real>0.0</real>
		<key>QSCLTermExecuteWithRequiredArgsAction</key>
		<real>0.0</real>
		<key>QSCLTermOpenParentAction</key>
		<real>0.0</real>
		<key>QSCLTermShowDirectoryAction</key>
		<real>0.0</real>
		<key>QSCLTermShowManPageAction</key>
		<real>0.0</real>
		<key>QSCatalogAddEntryAction</key>
		<real>-0.050000000000000003</real>
		<key>QSCatalogEntryRescanAction</key>
		<real>2</real>
		<key>QSCatalogEntryShowAction</key>
		<real>3</real>
		<key>QSCommandAddTriggerAction</key>
		<real>0.0</real>
		<key>QSCommandExecuteAction</key>
		<real>3</real>
		<key>QSCommandExecuteAfterDelayAction</key>
		<real>2</real>
		<key>QSCommandExecuteAtTimeAction</key>
		<real>2</real>
		<key>QSCommandSaveAction</key>
		<real>2</real>
		<key>QSComposeEmailItemAction</key>
		<real>0.0</real>
		<key>QSComposeEmailItemReverseAction</key>
		<real>0.0</real>
		<key>QSCreateFileAction</key>
		<real>0.0</real>
		<key>QSCreateFileTemplate</key>
		<real>0.0</real>
		<key>QSDictionaryLookupAction</key>
		<real>0.0</real>
		<key>QSDirectEmailItemAction</key>
		<real>0.0</real>
		<key>QSDirectEmailItemReverseAction</key>
		<real>0.0</real>
		<key>QSEmailAction</key>
		<real>0.0</real>
		<key>QSEmailItemAction</key>
		<real>0.0</real>
		<key>QSEmailItemReverseAction</key>
		<real>0.0</real>
		<key>QSEvernoteOpenNote</key>
		<real>0.5</real>
		<key>QSEvernoteOpenNotebook</key>
		<real>0.5</real>
		<key>QSEvernoteOpenTag</key>
		<real>0.5</real>
		<key>QSEvernoteRevealNote</key>
		<real>1</real>
		<key>QSEvernoteRevealNotebook</key>
		<real>1</real>
		<key>QSEvernoteRevealTag</key>
		<real>1</real>
		<key>QSEvernoteSearchNotebook</key>
		<real>0.40000000000000002</real>
		<key>QSFacetimeAction</key>
		<real>0.0</real>
		<key>QSFacetimeAudioAction</key>
		<real>0.0</real>
		<key>QSGoogleChromeOpenURLInSourceBrowser</key>
		<real>0.0</real>
		<key>QSGoogleChromeReloadTab</key>
		<real>0.0</real>
		<key>QSGoogleChromeRevealTab</key>
		<real>0.0</real>
		<key>QSKeychainItemCopyAccountAction</key>
		<real>2</real>
		<key>QSKeychainItemCopyPasswordAction</key>
		<real>0.0</real>
		<key>QSKeychainItemGetAccountAction</key>
		<real>2</real>
		<key>QSKeychainItemGetPasswordAction</key>
		<real>0.0</real>
		<key>QSKeychainItemPasteAccountAction</key>
		<real>2</real>
		<key>QSKeychainItemPastePasswordAction</key>
		<real>0.0</real>
		<key>QSKeychainLockAction</key>
		<real>2</real>
		<key>QSKeychainShowAction</key>
		<real>0.0</real>
		<key>QSKeychainUnlockAction</key>
		<real>2</real>
		<key>QSLargeTypeAction</key>
		<real>1</real>
		<key>QSLineRefDeleteAction</key>
		<real>0.0</real>
		<key>QSLineRefEditAction</key>
		<real>0.0</real>
		<key>QSLoginItemAddAction</key>
		<real>0.0</real>
		<key>QSLoginItemRemoveAction</key>
		<real>0.0</real>
		<key>QSNetworkLocationSelectAction</key>
		<real>2</real>
		<key>QSNewFolderAction</key>
		<real>0.0</real>
		<key>QSObjCSendMessageAction</key>
		<real>5</real>
		<key>QSObjectAssignMnemonic</key>
		<real>-0.20000000298023224</real>
		<key>QSObjectExplodeCombinedAction</key>
		<real>0.0</real>
		<key>QSObjectLogConsoleAction</key>
		<real>0.0</real>
		<key>QSObjectSearchChildrenAction</key>
		<real>0.0</real>
		<key>QSObjectSelectAction</key>
		<real>0.0</real>
		<key>QSObjectShowActionMenu</key>
		<real>0.0</real>
		<key>QSObjectShowChildMenu</key>
		<real>0.0</real>
		<key>QSObjectShowChildrenAction</key>
		<real>0.0</real>
		<key>QSObjectShowMenu</key>
		<real>0.0</real>
		<key>QSObjectShowSourceAction</key>
		<real>0.0</real>
		<key>QSPickMenuItemsAction</key>
		<real>0.0</real>
		<key>QSPickMenusAction</key>
		<real>0.0</real>
		<key>QSRemoteDesktopControlAction</key>
		<real>0.0</real>
		<key>QSRemoteDesktopCopyFilesAction</key>
		<real>0.0</real>
		<key>QSRemoteDesktopObserveAction</key>
		<real>0.0</real>
		<key>QSSearchMenuItemsAction</key>
		<real>0.0</real>
		<key>QSShellScriptRunAction</key>
		<real>2</real>
		<key>QSShellScriptRunWithArgsAction</key>
		<real>0.0</real>
		<key>QSSoundPlayAction</key>
		<real>0.0</real>
		<key>QSTextAppendAction</key>
		<real>0.0099999997764825821</real>
		<key>QSTextAppendReverseAction</key>
		<real>0.019999999552965164</real>
		<key>QSTextAppendTimedAction</key>
		<real>0.0</real>
		<key>QSTextAppendTimedReverseAction</key>
		<real>0.0</real>
		<key>QSTextPrependAction</key>
		<real>0.0099999997764825821</real>
		<key>QSTextPrependReverseAction</key>
		<real>0.019999999552965164</real>
		<key>QSTextPrependTimedAction</key>
		<real>0.0</real>
		<key>QSTextPrependTimedReverseAction</key>
		<real>0.0</real>
		<key>QSTextShowDialogAction</key>
		<real>0.0</real>
		<key>QSTextSpeakAction</key>
		<real>0.0</real>
		<key>QSTextTypeAction</key>
		<real>0.0</real>
		<key>QSThesaurusLookupAction</key>
		<real>0.0</real>
		<key>QSUIElementDoActionAction</key>
		<real>0.0</real>
		<key>QSUIElementPickAction</key>
		<real>0.0</real>
		<key>QSUIElementPressAction</key>
		<real>3</real>
		<key>QSURLFindWithAction</key>
		<real>0.0</real>
		<key>QSURLSearchForAction</key>
		<real>0.0</real>
		<key>QSURLSearchForAndReturnAction</key>
		<real>0.0</real>
		<key>QSiTerm2ExecuteScriptInCurrent</key>
		<real>0.0</real>
		<key>QSiTerm2ExecuteScriptInTab</key>
		<real>0.0</real>
		<key>QSiTerm2ExecuteScriptInWindow</key>
		<real>0.0</real>
		<key>QSiTerm2ExecuteTextInCurrent</key>
		<real>0.0</real>
		<key>QSiTerm2ExecuteTextInTab</key>
		<real>0.0</real>
		<key>QSiTerm2ExecuteTextInWindow</key>
		<real>0.0</real>
		<key>QSiTerm2OpenDirInCurrent</key>
		<real>0.0</real>
		<key>QSiTerm2OpenDirInTab</key>
		<real>0.0</real>
		<key>QSiTerm2OpenDirInWindow</key>
		<real>0.0</real>
		<key>QSiTerm2OpenParentInCurrent</key>
		<real>0.0</real>
		<key>QSiTerm2OpenParentInTab</key>
		<real>0.0</real>
		<key>QSiTerm2OpenParentInWindow</key>
		<real>0.0</real>
		<key>QSiTerm2OpenSessionTab</key>
		<real>4</real>
		<key>QSiTerm2OpenSessionWindow</key>
		<real>4</real>
		<key>QSiTunesAddToPlaylistAction</key>
		<real>0.0</real>
		<key>QSiTunesDislikeAction</key>
		<real>0.0</real>
		<key>QSiTunesDownloadAction</key>
		<real>0.0</real>
		<key>QSiTunesGetLyrics</key>
		<real>0.0</real>
		<key>QSiTunesLoveAction</key>
		<real>0.0</real>
		<key>QSiTunesOpenBookletAction</key>
		<real>0.0</real>
		<key>QSiTunesPSAddAction</key>
		<real>0.0</real>
		<key>QSiTunesPSPlayAction</key>
		<real>0.0</real>
		<key>QSiTunesPSPlayNextAction</key>
		<real>0.0</real>
		<key>QSiTunesPlayItemAction</key>
		<real>0.0</real>
		<key>QSiTunesRevealItem</key>
		<real>0.0</real>
		<key>QSiTunesSelectAirPlayDevices</key>
		<real>1</real>
		<key>QSiTunesSelectEQPreset</key>
		<real>2</real>
		<key>QSiTunesToggleEnabled</key>
		<real>0.0</real>
		<key>QSiTunesToggleShuffle</key>
		<real>0.0</real>
		<key>RTMAddTaskAction</key>
		<real>0.0</real>
		<key>RTMReverseAddTaskAction</key>
		<real>0.0</real>
		<key>RaiseWindow</key>
		<real>0.0</real>
		<key>UISelectApplication</key>
		<real>1</real>
		<key>URLEmailAction</key>
		<real>0.0</real>
		<key>URLJSAction</key>
		<real>0.0</real>
		<key>URLOpenAction</key>
		<real>2</real>
		<key>URLOpenActionInBackground</key>
		<real>1</real>
		<key>URLOpenWithAction</key>
		<real>0.0</real>
		<key>ZoomWindow</key>
		<real>0.0</real>
	</dict>
	<key>actionRanking</key>
	<array>
		<string>QSObjCSendMessageAction</string>
		<string>AppleScriptRunAction</string>
		<string>AppleScriptOpenFilesAction</string>
		<string>AppleScriptProcessTextAction</string>
		<string>QSCLTermExecuteShellCommandAction</string>
		<string>QSiTerm2OpenSessionTab</string>
		<string>QSiTerm2OpenSessionWindow</string>
		<string>QSCommandExecuteAction</string>
		<string>FileOpenAction</string>
		<string>QSCatalogEntryShowAction</string>
		<string>QSCLExecuteShellCommandAction</string>
		<string>QSABContactShowAction</string>
		<string>QSAirPortNetworkNewConnection</string>
		<string>QSAirPortNetworkSelectAction</string>
		<string>QSAirPortPowerDisable</string>
		<string>QSAirPortPowerEnable</string>
		<string>QSUIElementPressAction</string>
		<string>ActivateWindow</string>
		<string>QSCommandSaveAction</string>
		<string>QSiTunesSelectEQPreset</string>
		<string>QSAirPortPowerToggle</string>
		<string>QSNetworkLocationSelectAction</string>
		<string>QSKeychainItemCopyAccountAction</string>
		<string>QSKeychainItemPasteAccountAction</string>
		<string>QSKeychainItemGetAccountAction</string>
		<string>QSKeychainLockAction</string>
		<string>QSKeychainUnlockAction</string>
		<string>QSAirPortDisassociate</string>
		<string>UISelectApplication</string>
		<string>QSEvernoteRevealNotebook</string>
		<string>QSEvernoteRevealTag</string>
		<string>QSEvernoteRevealNote</string>
		<string>QSiTunesSelectAirPlayDevices</string>
		<string>QSEvernoteOpenNote</string>
		<string>QSEvernoteOpenNotebook</string>
		<string>QSEvernoteOpenTag</string>
		<string>QSEvernoteSearchNotebook</string>
		<string>QSTextPrependReverseAction</string>
		<string>QSTextAppendReverseAction</string>
		<string>QSURLSearchForAction</string>
		<string>QSTextPrependAction</string>
		<string>QSTextAppendAction</string>
		<string>URLOpenAction</string>
		<string>QSCatalogEntryRescanAction</string>
		<string>QSCommandExecuteAtTimeAction</string>
		<string>QSCommandExecuteAfterDelayAction</string>
		<string>QSShellScriptRunAction</string>
		<string>ConnectUsingSSH</string>
		<string>QSLargeTypeAction</string>
		<string>URLOpenActionInBackground</string>
		<string>ConnectUsingSSHroot</string>
		<string>ConnectUsingSSHuser</string>
		<string>CIFSBrowse</string>
		<string>CIFSMount</string>
		<string>FileRevealAction</string>
		<string>FileOpenWithAction</string>
		<string>FileAlwaysOpenTypeWithAction</string>
		<string>FileMoveToAction</string>
		<string>QSCommandAddTriggerAction</string>
		<string>AppQuitOthersAction</string>
		<string>AppHideAction</string>
		<string>QSNewFolderAction</string>
		<string>AppOpenFileAction</string>
		<string>URLOpenWithAction</string>
		<string>RTMReverseAddTaskAction</string>
		<string>QSObjectShowChildMenu</string>
		<string>QSLoginItemAddAction</string>
		<string>URLJSAction</string>
		<string>AppQuitAction</string>
		<string>AppRelaunchAction</string>
		<string>QSLoginItemRemoveAction</string>
		<string>QSTextShowDialogAction</string>
		<string>QSObjectShowSourceAction</string>
		<string>DiskEjectAction</string>
		<string>AppActivateAction</string>
		<string>QSTextSpeakAction</string>
		<string>QSObjectSelectAction</string>
		<string>URLEmailAction</string>
		<string>FileDeleteAction</string>
		<string>AppHideOthersAction</string>
		<string>QSTextTypeAction</string>
		<string>QSCreateFileTemplate</string>
		<string>QSObjectShowActionMenu</string>
		<string>QSObjectShowChildrenAction</string>
		<string>FileRenameAction</string>
		<string>AppShowHideAction</string>
		<string>FileCopyToAction</string>
		<string>QSObjectSearchChildrenAction</string>
		<string>QSObjectShowMenu</string>
		<string>FileGetInfoAction</string>
		<string>QSCreateFileAction</string>
		<string>FileToTrashAction</string>
		<string>AppleScriptRunTextAction</string>
		<string>QSSoundPlayAction</string>
		<string>FinderOpenTrashAction</string>
		<string>FinderEmptyTrashAction</string>
		<string>QSCLTermShowDirectoryAction</string>
		<string>QSCLTermShowManPageAction</string>
		<string>QSCLExecuteTextAction</string>
		<string>QSCLTermExecuteTextAction</string>
		<string>QSCLTermExecuteWithArgsAction</string>
		<string>QSCLTermOpenParentAction</string>
		<string>QSABContactEditAction</string>
		<string>QSABContactAddDataAction</string>
		<string>QSKeychainShowAction</string>
		<string>QSKeychainItemGetPasswordAction</string>
		<string>QSKeychainItemCopyPasswordAction</string>
		<string>QSKeychainItemPastePasswordAction</string>
		<string>QSiTunesPlayItemAction</string>
		<string>QSiTunesPSPlayNextAction</string>
		<string>QSiTunesOpenBookletAction</string>
		<string>QSiTunesPSAddAction</string>
		<string>QSiTunesRevealItem</string>
		<string>QSiTunesPSPlayAction</string>
		<string>QSiTunesAddToPlaylistAction</string>
		<string>QSDictionaryLookupAction</string>
		<string>DictPluginDefineAction</string>
		<string>QSThesaurusLookupAction</string>
		<string>ConnectUsingTelnetPort</string>
		<string>ConnectUsingHTTP</string>
		<string>ConnectUsingVNC</string>
		<string>GetHTTPURL</string>
		<string>MSRemoteDesktop</string>
		<string>ConnectUsingHTTPS</string>
		<string>ConnectUsingFTP</string>
		<string>AFPBrowse</string>
		<string>AFPMount</string>
		<string>ConvertTextToHost</string>
		<string>GetFTPURL</string>
		<string>ConnectUsingTelnet</string>
		<string>GetHTTPSURL</string>
		<string>QSURLFindWithAction</string>
		<string>QSURLSearchForAndReturnAction</string>
		<string>QSEmailAction</string>
		<string>QSEmailItemAction</string>
		<string>QSDirectEmailItemAction</string>
		<string>QSEmailItemReverseAction</string>
		<string>QSDirectEmailItemReverseAction</string>
		<string>QSComposeEmailItemReverseAction</string>
		<string>QSComposeEmailItemAction</string>
		<string>QSAppleMailMessageMoveAction</string>
		<string>QSAppleMailMessageDeleteAction</string>
		<string>QSAppleMailMessageOpenAction</string>
		<string>QSAppleMailMailboxOpenAction</string>
		<string>QSiTunesGetLyrics</string>
		<string>QSiTunesToggleShuffle</string>
		<string>QSiTunesToggleEnabled</string>
		<string>GetHostInfo</string>
		<string>RTMAddTaskAction</string>
		<string>QSRemoteDesktopControlAction</string>
		<string>QSRemoteDesktopObserveAction</string>
		<string>QSRemoteDesktopCopyFilesAction</string>
		<string>FocusedWindowForApp</string>
		<string>ListWindowsForApp</string>
		<string>MinimizeWindow</string>
		<string>CurrentDocumentForApp</string>
		<string>QSPickMenusAction</string>
		<string>QSUIElementPickAction</string>
		<string>QSPickMenuItemsAction</string>
		<string>QSSearchMenuItemsAction</string>
		<string>QSUIElementDoActionAction</string>
		<string>RaiseWindow</string>
		<string>ZoomWindow</string>
		<string>CloseWindow</string>
		<string>GetWindowsForApp</string>
		<string>QSLineRefDeleteAction</string>
		<string>QSLineRefEditAction</string>
		<string>QSShellScriptRunWithArgsAction</string>
		<string>QSFacetimeAction</string>
		<string>ConnectUsingMosh</string>
		<string>QSTextAppendTimedReverseAction</string>
		<string>QSTextAppendTimedAction</string>
		<string>QSTextPrependTimedReverseAction</string>
		<string>QSTextPrependTimedAction</string>
		<string>QSFacetimeAudioAction</string>
		<string>QSObjectExplodeCombinedAction</string>
		<string>QSObjectLogConsoleAction</string>
		<string>QSiTerm2ExecuteTextInTab</string>
		<string>QSiTerm2ExecuteScriptInCurrent</string>
		<string>QSiTerm2OpenDirInCurrent</string>
		<string>QSiTerm2OpenDirInTab</string>
		<string>QSiTerm2OpenParentInCurrent</string>
		<string>QSiTerm2ExecuteScriptInTab</string>
		<string>QSiTerm2ExecuteTextInCurrent</string>
		<string>QSiTerm2ExecuteTextInWindow</string>
		<string>QSiTerm2OpenParentInTab</string>
		<string>QSiTerm2OpenParentInWindow</string>
		<string>QSiTerm2ExecuteScriptInWindow</string>
		<string>QSiTerm2OpenDirInWindow</string>
		<string>QSGoogleChromeReloadTab</string>
		<string>QSGoogleChromeRevealTab</string>
		<string>QSGoogleChromeOpenURLInSourceBrowser</string>
		<string>QSiTunesDownloadAction</string>
		<string>QSiTunesDislikeAction</string>
		<string>QSiTunesLoveAction</string>
		<string>ConnectUsingSFTP</string>
		<string>ConnectUsingSFTPpath</string>
		<string>QSCLTermExecuteWithRequiredArgsAction</string>
		<string>QSCatalogAddEntryAction</string>
		<string>QSObjectAssignMnemonic</string>
		<string>FileGetURLAction</string>
		<string>PasteboardPasteAction</string>
		<string>FileMakeHardLinkInAction</string>
		<string>FileMakeAliasInAction</string>
		<string>FileGetPosixPathAction</string>
		<string>FileGetPathAction</string>
		<string>FileMakeLinkInAction</string>
		<string>FileGetHFSPathAction</string>
		<string>PasteboardCopyAction</string>
		<string>PasteboardPasteActionAsPlainText</string>
	</array>
</dict>
</plist>
