<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customEntries</key>
	<array>
		<dict>
			<key>ID</key>
			<string>0F97A29E-9435-4CF6-A2EF-B1AE90C31D76</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Web Search List</string>
			<key>queryList</key>
			<array>
				<dict>
					<key>name</key>
					<string>find my iphone</string>
					<key>url</key>
					<string>https://www.icloud.com/#find</string>
				</dict>
				<dict>
					<key>name</key>
					<string>filter</string>
					<key>url</key>
					<string>https://mail.google.com/mail/u/0/#create-filter/from=***&amp;sizeoperator=s_sl&amp;sizeunit=s_smb</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tastespotting</string>
					<key>url</key>
					<string>http://www.tastespotting.com/search/***/1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>wp</string>
					<key>url</key>
					<string>http://en.wikipedia.org/wiki/Special:Search?search=***</string>
				</dict>
				<dict>
					<key>name</key>
					<string>goog</string>
					<key>url</key>
					<string>https://www.google.com/#hl=en&amp;safe=off&amp;sclient=psy-ab&amp;q=***&amp;oq=***&amp;aq=f&amp;aqi=g4&amp;aql=&amp;gs_l=hp.3..0l4.4818l5105l2l5424l3l3l0l0l0l0l581l581l5-1l1l0.frgbld.&amp;pbx=1&amp;bav=on.2,or.r_gc.r_pw.r_qf.,cf.osb&amp;fp=9a06738beb7a37b5&amp;biw=1137&amp;bih=774</string>
				</dict>
				<dict>
					<key>name</key>
					<string>bin</string>
					<key>url</key>
					<string>http://binsearch.info/?q=***&amp;max=100&amp;adv_age=1100&amp;server=2</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tpb</string>
					<key>url</key>
					<string>http://thepiratebay.is/s/?q=***&amp;page=0&amp;orderby=99</string>
				</dict>
			</array>
			<key>source</key>
			<string>QSWebSearchSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E6FF0531-1EFF-4664-8F3C-A078A76D68F1</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Library</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Library</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>F44CCBF9-4886-4ADA-999A-1569A5B64396</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Users</string>
			<key>settings</key>
			<dict>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>/Users</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>C2F8C202-E0F7-49B4-A743-266812B0E5EB</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>+incoming torrents</string>
			<key>settings</key>
			<dict>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>~/Downloads/+incoming torrents</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>09E11EA5-79D1-4745-8761-4F30BBC0ECBD</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Utilities</string>
			<key>settings</key>
			<dict>
				<key>folderTypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>/Applications/Utilities</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>280B11DA-F500-4254-B026-7A0646269E8A</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Mine</string>
			<key>settings</key>
			<dict>
				<key>descendIntoBundles</key>
				<false/>
				<key>folderDepth</key>
				<integer>1</integer>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>~/Documents/My Documents</string>
				<key>skipItem</key>
				<true/>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>B9FDC11D-CEE9-4F01-82EA-3BAF06981921</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Info</string>
			<key>settings</key>
			<dict>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>~/Documents/My Documents/Info</string>
				<key>skipItem</key>
				<true/>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>905581C0-AE2A-4FFC-8879-7B00F3C54DA4</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>modificationDate</key>
			<real>412640545.81464601</real>
			<key>name</key>
			<string>Network Utility.app</string>
			<key>path</key>
			<array>
				<string>/System/Library/CoreServices/Applications/Network Utility.app</string>
			</array>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/System/Library/CoreServices/Applications/Network Utility.app</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>F96CB083-B29A-4F30-95FD-ED71350F31C1</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>modificationDate</key>
			<real>425601067.93469501</real>
			<key>name</key>
			<string>Wireless Diagnostics.app</string>
			<key>path</key>
			<array>
				<string>/System/Library/CoreServices/Applications/Wireless Diagnostics.app</string>
			</array>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/System/Library/CoreServices/Applications/Wireless Diagnostics.app</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>20BAA81D-FD0D-402B-96D8-DE9FF2E2F99B</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>[Applications</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Volumes/NAS/[Applications</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>978C2C80-717F-4162-959E-DDF61F9620D8</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>[Pictures</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Volumes/NAS/[Pictures</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2F4955CB-68D3-41C5-9C72-F9B78C1D9B89</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>[Video</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Volumes/NAS/[Video</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>28CC8488-D999-4A7D-B0F1-75B71FE01CEE</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>[Movies</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Volumes/NAS/[Video/[Movies</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>7741D27B-0695-46F0-A67F-537BD6CAA156</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>[TV</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Volumes/NAS/[Video/[TV</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>84AE178C-CE63-40AF-B56F-115E23AC3994</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>modificationDate</key>
			<real>490893347.027224</real>
			<key>name</key>
			<string>Scans</string>
			<key>path</key>
			<array>
				<string>/Users/john/Pictures/Scans</string>
			</array>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/Users/john/Pictures/Scans</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>7CAE1F93-6F09-47B0-B4B7-4AEAD0D4DAB3</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>modificationDate</key>
			<real>610341534.57842898</real>
			<key>name</key>
			<string>Scripts (user)</string>
			<key>settings</key>
			<dict>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>~/Library/Scripts</string>
				<key>skipItem</key>
				<false/>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>B6639009-09F5-4F62-A071-32A1201B0264</string>
			<key>children</key>
			<array/>
			<key>enabled</key>
			<true/>
			<key>modificationDate</key>
			<real>610571149.65395498</real>
			<key>name</key>
			<string>My Documents</string>
			<key>settings</key>
			<dict>
				<key>folderDepth</key>
				<integer>2</integer>
				<key>parser</key>
				<string>QSDirectoryParser</string>
				<key>path</key>
				<string>~/Documents/My Documents</string>
			</dict>
			<key>source</key>
			<string>QSFileSystemObjectSource</string>
		</dict>
	</array>
	<key>enabledPresets</key>
	<dict>
		<key>QSPresetDeveloperFrameworks</key>
		<false/>
		<key>QSPresetDocWebSearchesSimple</key>
		<true/>
		<key>QSPresetDownloads</key>
		<false/>
		<key>QSPresetFirefoxGroup</key>
		<false/>
		<key>QSPresetInternalMessages</key>
		<false/>
		<key>QSPresetInternalObjects</key>
		<true/>
		<key>QSPresetNetworkLocations</key>
		<true/>
		<key>QSPresetiTunesPlaylists</key>
		<false/>
	</dict>
	<key>omittedItems</key>
	<array>
		<string>qss-http://search.ebay.com/search/search.dll?query=***</string>
		<string>qss-http://news.google.com/news?hl=en&amp;q=***</string>
		<string>qss-http://www.macupdate.com/powersearch.php?keywords=***&amp;descr=&amp;developer=&amp;license=&amp;os=macosx&amp;results=25</string>
		<string>qss-http://scholar.google.com/scholar?hl=en&amp;q=***</string>
		<string>qss-http://www.macosxhints.com/search.php?query=***&amp;type=stories&amp;mode=search&amp;keyType=all</string>
		<string>qss-http://en.wikipedia.org/wiki/Special:Search?search=***&amp;go=Gon</string>
		<string>qss-http://www.bing.com/search?q=***&amp;cc=us</string>
		<string>qss-http://www.imdb.com/find?q=***</string>
		<string>qss-http://www.flickr.com/photos/search/text:***</string>
		<string>qss-http://us.search.yahoo.com/search;_ylt=A0oGkzSwTbtNLNYAMyRKBQx.;_ylc=X1MDMjE0MjQ3ODk0OARfcgMyBGZyA3lmcC10LTcwMgRuX2dwcwMwBG9yaWdpbgNzeWMEcXVlcnkDKioqBHNhbwMw?p=***&amp;fr=yfp-t-702&amp;fr2=sfp&amp;iscqry=</string>
		<string>qss-http://maps.google.com/maps?q=***</string>
		<string>qss-http://www.macupdate.com/search/advanced/?qk=***&amp;modpreset=&amp;mm=2003-01&amp;mx=2012-07&amp;title=&amp;titlenot=&amp;desc=&amp;descnot=&amp;dev=&amp;devnot=&amp;os=mac&amp;rating=all</string>
		<string>qss-https://mail.google.com/mail/?search=query&amp;view=tl&amp;start=0&amp;init=1&amp;fs=1&amp;q=***</string>
		<string>qss-http://www.last.fm/search?q=***&amp;form=ac&amp;setlang=en</string>
		<string>qss-http://en.wiktionary.org/wiki/Special:Search?search=***&amp;go=Go</string>
		<string>qss-http://books.google.com/books?q=***</string>
		<string>qss-http://hs.facebook.com/s.php?q=***&amp;n=-1</string>
		<string>qss-http://hints.macworld.com/search.php?query=***&amp;type=stories&amp;mode=search&amp;keyType=all</string>
		<string>qss-http://www.google.com/search?q=***&amp;ie=UTF-8&amp;oe=UTF-8</string>
		<string>/Volumes/G Drive/]Videos/Lonely-planet 2005-2009  (Vasia Zozulia)</string>
		<string>qss-http://images.google.com/images?hl=en&amp;q=***</string>
		<string>qss-http://www.rottentomatoes.com/search/full_search.php?search=***</string>
		<string>qss-http://twitter.com/?lang=en#!/search/***</string>
	</array>
</dict>
</plist>
